@import '~@scss/hairline.scss';
.btn {
  width: 200px;
  border: 1px solid #000;
}

.box1 {
  margin: 10px 0;
  position: relative;
  // @include hairline(bottom, #000); // 添加边框
  // @include hairline-remove(bottom); // 移除边框
}
